node_modules
# Keep environment variables out of version control
.env
.vscode
/generated/prisma
mydocs
build/workers
build/shared
build/api
build/index.js.map
build/migrate.js.map
build/scheduler
/dist
